name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest

    steps:
      # 1) Check out the code
      - uses: actions/checkout@v3

      # 2) Install dependencies and build
      - name: Build the file
        run: |
          npm ci
          npm run build

      # 3) Upload build file to the release as an asset
      - name: Upload dist/pollenprognos-card.js
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/pollenprognos-card.js
          asset_name: pollenprognos-card.js
          tag: ${{ github.ref }}
          overwrite: true

